<html>
  <body>
    <form action="/photos" enctype="multipart/form-data" method="post">
       <input type="file" name="photo" />
       <input type="submit" value="upload" />
    </form>
  </body>
</html>
